body {
    margin: 10px;
    background-color: gray;
}

header {
    background-color: DarkGray;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: white;
    padding: 10px;
    margin: 0; 
}

#texto {
    position: static;
    width: 100%;
    padding-top: 50px;
    display: block;
}
h1, h3 {
    text-align: center;
}
